<h1>All Games</h1>

<section id="game_index">
<% @games.each do |game| %>
    
    <h3><%= game.id %>) <a href="/games/<%= game.id %>">Title: <%= game.title %></a></h3></li>
    <h4>Genre: <%= game.genre %></h4></li>
    <h4>Cataloged by: <%= game.user.name %></h4></li>
 
  <br><br>
<% end %>
</section>