<h2><%= @game.title %></h2>
<p>Genre: <%= @game.genre %></p>
<p>System: <%= @game.system %></p>
<p>Developer: <%= @game.dev_company %></p>
<p>Release Year: <%= @game.release_year %></p>

<% if authorized_to_edit?(@game) %>
  <a href="/games/<%=@game.id %>/edit">Edit Game</a>
  <br><br>
  <form class="" action="/games/<%= @game.id %>" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" name="" value="Delete Game">
  </form>
<% end %>